<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href={{ "/css/theme.css" | relative_url }}>

<header class="block-table mt2 mb4" role="banner">
  <a class="block-flow decor-none color-same" href={{ "/" | relative_url }} rel="home" accesskey="1">
    <h1 class="font-xxl font-700 m0">Aaron Irwin</h1>
    <span class="font-m font-600">Saxophonist &amp; Composer</span>
  </a>
</header>

<nav class="m0 mb4">
  <a class="mr2 mb2 inline-root" href={{ "/bio/" | relative_url }}>Bio</a>
  <a class="mr2 mb2 inline-root" href="http://aaronirwin.bandcamp.com">Store</a>
  <a class="mr2 mb2 inline-root" href={{ "/albums/" | relative_url }}>Albums</a>
  <a class="mr2 mb2 inline-root" href={{ "/media/" | relative_url }}>Media</a>
  <a class="mr2 mb2 inline-root" href={{ "/performances/" | relative_url }}>Performances</a>
  <a class="mr2 mb2 inline-root" href={{ "/reviews/" | relative_url }}>Reviews</a>
  <a class="mr2 mb2 inline-root" href={{ "/contact/" | relative_url }}>Contact</a>
</nav>

<main>
  {{ content }}
</main>
