<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href={{ "/css/theme.css" | relative_url }}>

<header class="m0 mb1 block-table font-bass">
  <a class="block-flow decor-none color-same" href={{ "/" | relative_url }} rel="home" accesskey="1">
    <h1 class="font-soprano font-700 case-lower m0">Aaron Irwin</h1>
    <span class="font-tenor font-400 case-lower" hidden>Saxophonist &amp; Composer</span>
  </a>
</header>

<nav class="m0 mb4 font-baritone case-lower">
  <a class="mr2 mb2 inline-root" href={{ "/bio/" | relative_url }}>Bio</a>
  <a class="mr2 mb2 inline-root" href={{ "/albums/" | relative_url }}>Albums</a>
  <a class="mr2 mb2 inline-root" href={{ "/media/" | relative_url }}>Media</a>
  <a class="mr2 mb2 inline-root" href={{ "/performances/" | relative_url }}>Performances</a>
  <a class="mr2 mb2 inline-root" href={{ "/reviews/" | relative_url }}>Reviews</a>
  <a class="mr2 mb2 inline-root" href={{ "/contact/" | relative_url }}>Contact</a>
</nav>

<main class="font-bass">
  {{ content }}
</main>

<script>
this._gaq=[["_setAccount","UA-5731919-4"],["_trackPageview"]];
!function(d,s,l,a) {
  if(!l.hostname)return;
  a=d.getElementsByTagName(s)[0];s=d.createElement(s);s.async=1;
  s.src=("https:"==l.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  a.parentNode.insertBefore(s,a);
}(document,"script",location);
</script>

<script data-via="https://github.com/ryanve/templace/tree/v0.1.0">
!function(root, name, api) {
  typeof module != "undefined" && module.exports ? module.exports = api : root[name] = api
  typeof document == "undefined" || api()
}(this, "templace", function() {
  do {
    var template = document.querySelector("template[data-templace]")
    if (!template) break
    if (!("content" in template)) continue
    var fragment = template.content.cloneNode(true)
    template.parentNode.insertBefore(fragment, template)
    template.removeAttribute("data-templace")
  } while (template)
});
</script>
